<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div style="margin: 300px auto; width: 400px">
        <h1 th:text="${hello}" style="text-align: center"></h1>
        <form th:action="@{/login/login}" method="post" style="text-align: center">
            <label style="display: block">
                <input name="name" />
            </label>
            <label style="display: block">
                <input name="pwd" />
            </label>
            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>